*{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
body{
    background: linear-gradient(130deg,white,gray);
}
header{
    min-height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}
header span{
    animation: disappear-appear 1s linear infinite;

}
@keyframes disappear-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.website-desc{
    align-self: center;
    margin-left: 27%;
    font-size: 25px;
    text-align: center;
    max-width: 50%;
    margin-top: 10px;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.question-block{
    background :  skyblue;
    width: 80%;
    min-height: 200px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
}

.question-block .answers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    margin-top: 10px;
    font-size: 18px;
}
.question-block .answers label input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


form #submitBtn{
    margin-top: 50px;
    padding: 10px 20px;
    background: blueviolet;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-bottom: 200px;
    cursor: pointer;
    transition: 1s;
    animation: shake 2s infinite linear;
}
form #submitBtn:hover{
    background: rgb(89, 0, 255);
}

@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(-10deg);
    }
}

@keyframes shake2 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(-3deg);
    }
}

.score{
    margin-top: 50px;
    padding: 10px 20px;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 1s;
    animation: shake2 2s infinite linear; 
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    max-width: 99%;
    box-sizing: border-box;
    margin-left: 7px;
}
.score span{
    font-size: 75px;
    display: block;
}


.resultats{
    background-color: rgb(0, 204, 255);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 10px;
    min-height:  200px;
    justify-content: center;
    align-items: center;
    font-size: 15px ;
    width: 100%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        

}
.resultats .trueAnswer {
    padding: 5px 0;
    background-color: green;
    width: 80%;
    font-size: 18px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

.resultats .falseAnswer {
    padding: 5px 0;
    background-color: rgba(255, 0, 0, 0.753);
    width: 700px    ;
    width: 80%;
    margin: 10px;
    font-size: 18px;
    justify-content: space-around;    
}
